<div class="container">


<form action="/post/update/<%= @post.id %>" method="post">
  <input id="post_title" name="post[title]" placeholder="Title" value="<%= @post.title%>"><br>

  <textarea id="post_body" rows=5 col= 10 name= "post[body]" placeholder="Enter text here..."><%= @post.body %></textarea><br>
  <input type="submit" value="Save"><br>
</form><br>

  <% @post.tags.each do |tag| %>
  <form action="/remove_tag" method="post">
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <input type="hidden" name="tag_id" value="<%= tag.id %>">
    <input type="submit" value="<%= tag.name %> X">
  </form>
  <% end %>
  <input id="post_tags" name= "post[tags]" placeholder="Enter tags here..." value="<%= @tag_names %>">

<form action="/post/delete/<%= @post.id %>" method="post">
 <input type="submit" value="Delete Post">
</form><br>

<a href="/">Back to the Future</a>
</div>
